

/*Styling of body*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(47, 88%, 63%);

    gap:2rem;
    min-height: 100svh;

    font-family: "Figtree", sans-serif;
    font-weight: 500;
    
    color: hsl(0, 0%, 7%)
}

p{
  font-size: 1rem;
  color: hsl(0, 0%, 42%);
}

/*Styling of each content*/
div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:1rem;
  padding-bottom: 10px;
}

/*Styling of heading*/
.heading img{
  border-radius: 10px;
}

.heading h4{
  background-color: hsl(47, 88%, 63%);
  padding: 10px 15px;
  border-radius: 10px;
}

.heading p{
  color: hsl(0, 0%, 7%);
  
}

/*Styling of author*/
.author{
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.author img{
  width: 10%;
}

.author h4{
  align-self:center
}


/*Styling of card*/
.card{
    background-color: hsl(0, 0%, 100%);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px;

    max-width: 20rem;
    width: 100rem;

    padding: 20px;
}



/*CSS Reset*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }